.errorServer {
  color: var(--color-red);
  background-color: rgba(178, 176, 176, 0.55);
  border-radius: 5px;
  padding: 2rem 4rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}
