.route {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-grey-light);
  margin: 1rem 0;
  padding: 0 1rem;
  border-radius: 5px;
}

.description {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.method {
  margin: 0.3rem;
  padding: 0.3rem 1rem;
  color: var(--color-white);
  font-weight: bold;
  border-radius: 5px;
  font-size: 1rem;
  width: 4rem;
  text-align: center;
}

.POST {
  border: 2px solid green;
  background-color: rgba(0, 128, 0, 0.5);

  .method {
    background-color: green;
  }
}

.GET {
  border: 2px solid blue;
  background-color: rgba(0, 0, 255, 0.5);

  .method {
    background-color: blue;
  }
}

.DELETE {
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.5);

  .method {
    background-color: red;
  }
}

.PUT {
  border: 2px solid orange;
  background-color: rgba(255, 165, 0, 0.5);

  .method {
    background-color: orange;
  }
}

.path {
  font-weight: bolder;
  color: var(--color-white);
}
